//random photos were originally going to be a carousel.
//I changed my mind, now it's a grid, but I was in too deep with the names so I didn't change them
#carousel-sect {
    min-height: 100vh;
    text-align: center;
}
//random photo slides
.slide {
    height: $box-width;
    width: $box-width;
    margin: 10px 5px;
    background-color: $color-white;
    padding: 20px 10px 40px;
    box-shadow: -6px 6px 4px darken($color-dark-grey, 20%);
    img {
        width: 300px;
        border-top: 20px solid $color-white;
        border-right: 10px solid $color-white;
        border-bottom: 10px solid $color-white;
        border-left: 10px solid $color-white;
    }
    .add-default {
        display: none;
        font-size: 15px;
    }
    
    &:hover {
        .add-default {
            display: block;
        }
        .maximise-photo {
            display: inline;
        }
        
    }
}

#random-photo-carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

//js controlled classes for maximising images
.slide-max {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}
.slide-default {
    padding: 0;
    background-color: $color-white;
}

#slide-four, #slide-five, #slide-six, #slide-seven, #slide-eight {
    display: none;
}
@include sm {
    #slide-four {
        display: initial;
    }
}
@include lg {
    #slide-five, #slide-six {
        display: initial;
    }
}
@include xl {
    #slide-seven, #slide-eight {
        display: initial;
    }
}
//wrapper around img because if the whole slide moves then the grid goes funny
//also so I can have different transform transitions on wrapper vs img
//because you can't target the various types of transform
.img-wrapper-default {
    height: auto;
    width: auto;
}

.img-wrapper-click {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    position: fixed;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    opacity: 1;
}
//image itself on maximise
.img-wrapper img {
    transition: transform 1s ease, border-width 1.5s ease;
    opacity: 1;
}
.img-wrapper img.random-photo-max {
    z-index: 20;
    transform: scale(1.4);
    opacity: 1;
    @include xs {
        transform: scale(1.9);
    }
    @include sm {
        transform: scale(2.5);
    }
    @include md {
        transform: scale(2.9);
    }

    transition: transform 1s ease;
}

.slide img.random-photo-max {
    border-top: 20px solid $color-white;
    border-right: 20px solid $color-white;
    border-bottom: 40px solid $color-white;
    border-left: 20px solid $color-white;
    opacity: 1;
}
//add photo to album button, disappears on maximise but appears on hover
.add-large {
    position: relative;
    z-index: 21;
    bottom: -20px;
    height: 35px;
    width: 200px;
    font-size: 15px;
    @include xs {
        font-size: 18px;
        bottom: -80px;
        height: 40px;
        width: 226px;
    }
    @include md {
        font-size: 25px;
        bottom: -220px;
        height: 70px;
        width: 400px;
    }
}
.random-photo-max:hover {
    .add-large {
        display: block;
    }
}
.maximise-photo {
    position: relative;
    display: none;
    bottom: 70px;
    left: 135px;
    margin: 0;
    padding: 0;
    z-index: 5;
}
.photo {
    transition: scale 1s ease;
    opacity: 1;
}
