//eventual error popups on failed email address add

#popup {
    background-color: white;
    transition: top 2s ease-in-out;
    width: 80vw;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 40px;
    font-family: "Cormorant Garamond", sans-serif;
    height: 200px;
}

.popup-hidden {
    top: -200px;
}
.popup-error {
    z-index: 12;
    top: 0;
    
}