//generic button styling

button {
    font-family: "Lora", sans-serif;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
}

//remove photo from album

.album-slide {
    .remove-default {
        margin-top: 7px;
        opacity: 0;
    }
    &:hover {
        .remove-default {
            opacity: 1;
        }
        .maximise-album-photo {
            opacity: 1;
        }
    }
}