//generic button styling

button {
    font-family: "Lora", sans-serif;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    
    &:hover {
        cursor: pointer;
        background-color: #d0d0d7;
    }
}
.btn-bigger {
    font-size: 20px;

}
#randomiser {
    padding: 10px;
}
//remove photo from album

.album-slide {
    .remove-default {
        margin-top: 7px;
        opacity: 0;
    }
    &:hover {
        .remove-default {
            opacity: 1;
        }
        .maximise-album-photo {
            opacity: 1;
        }
    }
}