h1, h2, h3, h4 {
    color: $color-white;
    font-family: "Lora", sans-serif;
    text-align: center;
}
p, a, img, select {
    color: $color-white;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 25px;
}
body {
    background-color: $color-dark-grey;
}
h1 {
    font-size: 40px;
    padding: 40px 5px;
    @include sm {
        font-size: 45px;
    }
    @include md {
        font-size: 60px;
    }
    @include lg {
        font-size: 75px;
    }
}