* {
    box-sizing: border-box;
}
$screen-xs: 550px;
$screen-sm: 750px;
$screen-md: 823px;
$screen-lg: 1235px;
$screen-xl: 1645px;

@mixin xs {
    @media (min-width: #{$screen-xs}) {
        @content; 
        }
}


@mixin sm {
    @media (min-width: #{$screen-sm}) {
        @content; 
        }
}
@mixin md {
    @media (min-width: #{$screen-md}) {
        @content; 
        }
}
@mixin lg {
    @media (min-width: #{$screen-lg}) {
        @content; 
        }
}
@mixin xl {
    @media (min-width: #{$screen-xl}) {
        @content; 
        }
}